<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-not-found">
        <div class="image">
          <img src="assets/images/404.png" alt="page-not-found" />
        </div>

        <h1>Lỗi không tìm thấy trang</h1>
        <p>
          Có vẻ như các trang mà bạn đang cố gắng tiếp cận không tồn tại nữa
          hoặc có thể nó vừa di chuyển.
        </p>
        <div class="btn">
          <a href="/">Về trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</div>
