@import './../../variable.scss';

:host {
  display: block;
}

.main {
  background-color: #fff;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 970px;
}

.lines {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  will-change: transform;
  background-size: 100% 58px;
  min-height: calc(4.5em + 38px);
  overflow: hidden;
  padding: 0 15px;
}

.break-line {
  background-image: url(typing/assets/images/type-border-tall.gif);
}

.enter {
  width: 970px;
  text-align: left !important;
}

.word {
  display: flex;
  background-color: transparent;
  font-size: 30px;
}

.letter {
  min-width: 21px;
  background-color: #fff;
  border-bottom: 3px solid transparent;
  text-align: center;
  font-size: inherit;
  color: #4a4a4a;
  display: inline-block;
  line-height: 1.5;
  margin: 5px 2px 5px 0;
  border-radius: 5px;
  text-align: center;
}

.letter.success {
  background-color: $success;
  color: $green;
}

.letter.error {
  background-color: $light-red;
  color: $error;
}

@keyframes cursor_blink {
  from {border-color: transparent;}
  to {border-color: #3295db;}
}

.letter.is-active {
  background-color: transparent;
  color: #3295db;
  border-color: #3295db;
  border-radius: 0;
  animation-name: cursor_blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.input-hidden {
  opacity: 0;
  position: fixed;
}