<h1>Practice typing Web</h1>

<p>
  Make by
  <a target="_blank" href="mailto:quachdangthoaian@gmail.com"
    >quachdangthoaian@gmail.com</a
  >
</p>

<section class="container">
  <h5>Just input your text</h5>
  <textarea
    name="text"
    placeholder="Copy and paste your text here..."
    cols="30"
    rows="15"
    [(ngModel)]="text"
    (change)="saveLocalText()"
  ></textarea>
  <div class="text-center m-4">
    <a [routerLink]="['/typing']" class="btn btn-primary">Let type...</a>
  </div>
</section>
